<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046034127292-u9ct41h4psq28ntnlks3bannibfvrc1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046034127292-u9ct41h4psq28ntnlks3bannibfvrc1a</string>
	<key>API_KEY</key>
	<string>AIzaSyCgPwdepzmVZTKK93IgL4-ofd0dS7beUtU</string>
	<key>GCM_SENDER_ID</key>
	<string>1046034127292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.ramon.FitnessTracker</string>
	<key>PROJECT_ID</key>
	<string>fitnesstracker-d10fe</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnesstracker-d10fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046034127292:ios:30ed059fa3d7efa449b3b9</string>
</dict>
</plist>